*.bak

*.pyc

*.xml

*.tar.gz

*.iml

*.icls

/_windows/

/codestyles/

# Temp
build/
docs/build/
docs/_build/
dist/
*.egg-info/
colors
log/


# IDE
.idea/

# jupyter
.ipynb_checkpoints
#docs/source/_static/
#docs/source/_templates/
