pyyaml
fastapi
uvicorn
mysqlclient
python-dotenv
sqlalchemy
pydantic
requests
python-jose[cryptography]
passlib[bcrypt]
casbin
casbin_sqlalchemy_adapter
redis[hiredis]
redis-om
alembic
aiofiles
pre-commit
commitizen