pyyaml
fastapi
uvicorn
mysqlclient
python-dotenv
sqlalchemy
pydantic
requests
python-jose[cryptography]
passlib[bcrypt]
casbin
casbin_sqlalchemy_adapter
redis[hiredis]
redis-om
python-dotenv>=0.21.0
alembic
aiofiles
pre-commit
commitizen
mkdocs-material>=8.5.5
loguru>=0.6.0